@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body
{
  min-height: 100vh;
  background: #25242d;
}

#nav {
  height: 68px;
}
nav
{
  position: relative;
  top: 0;
  Left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  background-color: #a195ed;
  padding-top: 2px;
}

nav ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li
{
  list-style: none;
  margin-Left: 20px;
}
nav ul li a
{
  text-decoration: none;
  padding: 0px 17px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}
nav ul li a:hover
{
  background: #c0dff1;
  color: #1a1a1a;
}
nav ul li a.active
{
  background: #fff;
  color: #0a0d30;
}

button
{
  background-color: #a195ed;
  color: #fff;
  border: none;
  padding:12px;
}
button:hover
{
  background: #c0dff1;
  color: #1a1a1a;
}
button:active
{
  background-color: #3E1076;
  color: white;
}

.verify-email-banner
{
  background-color: red;
  color: white;
  padding-left:10px;
}

#close-x
{
  display: inline;
  width: 10px;
}

.settings-headings
{
  color: #3E1076;
}

.settings-txt
{
  color: rgb(126, 126, 126);
}

#delete-account-btn
{
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  float: right;
}
