@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body
{
  min-height: 100vh;
  background: #b0aace;
}

#nav {
  height: 75px;
}
nav
{
  position: relative;
  top: 0;
  Left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  background-color: #9f97d0;
  padding-top: 20px;
}

nav ul
{
  display: flex;
  justify-content: center;
}
nav ul li
{
  list-style: none;
  margin-Left: 20px;
  
}
nav ul li a
{
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  border: 2px solid white;
  height: 38px;
  width: 150px;
  line-height: 33px;
  text-align: center;
}
nav ul li a:hover
{
  background: white;
  color: #8982bb;
}
nav ul li a.active
{
  background: white;
  color: #8982bb;
}

button
{
  background-color: #a195ed;
  color: #fff;
  border: none;
  padding:12px;
}
button:hover
{
  background: #c0dff1;
  color: #1a1a1a;
}
button:active
{
  background-color: #3E1076;
  color: white;
}

.verify-email-banner
{
  background-color: red;
  color: white;
  padding-left:10px;
}

#close-x
{
  display: inline;
  width: 10px;
}

.settings-headings
{
  color: #3E1076;
}

.settings-txt
{
  color: rgb(126, 126, 126);
}

#delete-account-btn
{
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  float: right;
}

#change-password-btn
{
  color: purple;
  background-color: rgba(140, 0, 255, 0.1);
  padding: 10px;
  float: left;
}

body {
  margin: 0;
  padding: 0;
}

div.img {
  background-image: url('images/background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
